.empty {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  color: #414141;
  font-weight: bold;
}

.items-total-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
}

.total {
  font-size: 20px;
  font-weight: bold;
  color: #414141;
}