<form class="send-form">
  <h2>Check Out</h2>
  <div>
    <label for="name">Name</label>
    <input type="text" placeholder="Nombre">
  </div>
  <div>
    <label for="lastname">Lastname</label>
    <input type="text" placeholder="Apellido">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" placeholder="Email">
  </div>
  <div>
    <label for="phone">Phone</label>
    <input type="text" placeholder="Teléfono">
  </div>
  <div>
    <label for="address">Address</label>
    <input type="text" placeholder="Dirección">
  </div>
  <div>
    <label for="district">District</label>
    <input type="text" placeholder="Distrito">
  </div>
  <div>
    <label for="country">Country</label>
    <input type="text" placeholder="País">
  </div>
  <div>
    <label for="card">Credit cart</label>
    <input type="text" placeholder="Tarjeta de crédito">
  </div>

  <div class="button">
    <button type="submit" class="submit" (click)="submit()">
      Purchase
    </button>
  </div>
</form>
