<form class="send-form">
  <div>
    <label for="name">Nombre</label>
    <input type="text" placeholder="Nombre">
  </div>
  <div>
    <label for="lastname">Apellido</label>
    <input type="text" placeholder="Apellido">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" placeholder="Email">
  </div>
  <div>
    <label for="phone">Teléfono</label>
    <input type="text" placeholder="Teléfono">
  </div>
  <div>
    <label for="address">Dirección</label>
    <input type="text" placeholder="Dirección">
  </div>
  <div>
    <label for="district">Distrito</label>
    <input type="text" placeholder="Distrito">
  </div>
  <div>
    <label for="country">País</label>
    <input type="text" placeholder="País">
  </div>
  <div>
    <label for="card">Tarjeta de crédito</label>
    <input type="text" placeholder="Tarjeta de crédito">
  </div>

  <button type="submit" class="submit" (click)="submit()">
    Enviar
  </button>
</form>
